.songTitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.player {
  flex-grow: 1;
  padding: 20px;
  background-color: #3a3d42;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}

.controls {
  display: flex;
  justify-content: center;
}